<%= form_with(model: categories_product_type, local: true) do |form| %>
  <% if categories_product_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categories_product_type.errors.count, "error") %> prohibited this categories_product_type from being saved:</h2>

      <ul>
      <% categories_product_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id, id: :categories_product_type_category_id %>
  </div>

  <div class="field">
    <%= form.label :product_type_id %>
    <%= form.text_field :product_type_id, id: :categories_product_type_product_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
