<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @categories_product_type.category_id %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @categories_product_type.product_type %>
</p>

<%= link_to 'Edit', edit_categories_product_type_path(@categories_product_type) %> |
<%= link_to 'Back', categories_product_types_path %>
