<%= form_with(model: fine_print, local: true) do |form| %>
  <% if fine_print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fine_print.errors.count, "error") %> prohibited this fine_print from being saved:</h2>

      <ul>
      <% fine_print.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :fine_print_product_id %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :fine_print_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
