<p id="notice"><%= notice %></p>

<h1>Fine Prints</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fine_prints.each do |fine_print| %>
      <tr>
        <td><%= fine_print.product %></td>
        <td><%= fine_print.text %></td>
        <td><%= link_to 'Show', fine_print %></td>
        <td><%= link_to 'Edit', edit_fine_print_path(fine_print) %></td>
        <td><%= link_to 'Destroy', fine_print, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fine Print', new_fine_print_path %>
