<!DOCTYPE html>
<html>
  <head>
    <title>MockApiJson</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if params[:controller] == "products"%>
    <nav>
      <ul>
        <li>Product <%= link_to 'HTML', products_path %> <%= link_to 'JSON', products_path(:format => :json) %></li>
      </ul>
    </nav>
    <%end%>
    <%= yield %>
  </body>
</html>
